/* Set font and background color for body */
body {
  font-family: Arial, sans-serif;
  background-image: url("/assets/images/MARVEL.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
/* Set styling for header */
header {
  background-color: #212121;
  color: white;
  text-align: center;
  padding: 10px;
}
/* Set font size and margin for h1 inside header */
h1 {
  font-size: 64px;
  text-align: center;
  margin-top: 20px;
  position: relative;
}
/* Style for title */
#heropedia-title {
  font-size: 60px;
  font-weight: bold;
  color: #ed1d24;
  text-align: center;
  background-image: url("/assets/images/MARVEL.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding: 50px 0;
}
/* Set background image and repeat options for body */
body {
  background-image: url("/assets/images/MARVEL.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
/* Style for search container */
#search-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
/* Style for search box */
#search-box {
  padding: 10px;
  width: 300px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}
/* Style for search, home, and clear history buttons */
#search-btn,
#home-btn,
#clear-history-btn {
  padding: 10px;
  background-color: #4CAF50;
  border: 2px solid white;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
/* Style for search history container */
#searchHistoryContainer {
  margin-top: 20px;
}
/* Style for each search item in history */
.search-item {
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  font-size: 14px;
}
/* Style for result container */
#result-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* Style for hero card */
.card {
  background-color: white;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  width: 500px;
  height: 990px;
  overflow: auto;
}
/* Style for hero card image */
.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
/* Style for hero card title */
.card h2 {
  margin: 10px;
  font-size: 50px;
  text-align: center;
}
/* Style for hero card paragraph */
.card p {
  margin: 10px;
  font-size: 16px;
}
/* Style for hero name title */
#heroNameTitle {
  margin-top: 20px;
  font-size: 24px;
  text-align: center;
}
/* Style for wikipedia info section */
#wikiInfo {
  background-color: hsl(0, 99%, 57%);
  color: white;
  padding: 10px;
  margin: 10px;
  text-align: center;
  border-radius: 15px;
  margin-bottom: 50px;
}

/* Style for results container */
#resultsContainer {
  background-color: hsl(0, 99%, 57%);
  color: white;
  padding: 10px;
  margin: 10px;
  text-align: center;
  border-radius: 15px;
  object-fit: auto;
  margin-top: 12px;
  margin-bottom: auto;
}
/* Style for columns */
.columns {
  margin: auto;

}
/* Style for column */
.columns .column {
  margin-top: -16px;
  padding: 0px;
  border-radius: 5px;
}
/* Style for data section */
.data-section {
  background-color: #d1b2b2;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}
  .data-section {
    margin-bottom: 5px;
    font-size: 14px;
    
  }
/* Style for home button */
  .home-btn {
    display: block;
    margin-left: auto;
    margin-top: 20px;
    color: white;
    background-color: #212121;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    width: 100px;
  }
    /* Style for home button hover */
  .home-btn:hover {
    background-color: #4CAF50;
    cursor: pointer;
  }
  